@{
    ViewData["Title"] = "Home Page";
}
<div>
      <div class="loginPage">
          <div class="cta-buttons">
              <ul style="list-style: none;">
                  <li button class="btn"><a asp-controller="Customer" asp-action="Login"><button class="btn" >SignIn As Customer</button></a></li>
                  <li button class="btn"><a asp-controller="Plumber" asp-action="Login"><button class="btn" >SignIn As Plumber</button></a></li>
            </ul>
        </div>
    </div>
</div>
